.header{
  background-color: black;
  height:75px;
  display:flex;
  flex-direction:row;
  position:fixed;
  align-content: center;
  justify-content:space-between;
  top:0;
  right:0;
  left:0;
  z-index: 100;
  font-family: Poppins, sans-serif;
  color:rgb(255, 26, 95);
}
html{
  scroll-behavior:smooth;
}
@media(max-width:900px){
  .profolio-project{
    flex-direction: column;

  }
  .media-project{

    flex-direction: column;

  }

  .right-section{
    font-size: 18px;
  }
  .home-sec-1{
    font-size: 40px;
  }
  .home-sec-2{
    font-size: 15px;

  }

  .contact-subs{
    font-size: 10px;
  }

  .contact-sec{
    font-size: 10px;
  }


}

.right-section{
  display: flex;
  align-items: center;
  padding-left:80px;
  background-color: (255, 26, 95);
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 800;
}


.left-section{
  display: flex;
  align-items: center;
  background-color:  black;
  padding-right:80px;
}

.active{
  font-family: "Poppins";
  font-size: 18px;
  padding-left: 8px;
  padding-right:8px;
  color: rgb(255, 26, 95);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}


.active:hover{
  text-decoration: underline;
  color: white;
}

.home-sec{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 8px;
  padding-bottom: 100px;
  padding-top: 80px;
  top:75px;
  
}

.home-sec-1{
  font-size: 70px;
}

.home-sec-2{
  font-size: 20px;
}

.main-web{
  width:100%;
  padding-top: 66px;
  font-family: Poppins; 
  color: rgb(255, 26, 95);
  
}

body{
  width: 100%;
  overflow-x: hidden;
  background-color:black;
}


.about-sec{
  display:flex;
  flex-direction:row;
  background-color: black;
  padding-top: 50px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 50px;
}

.about-par{
  color:  white;
  font-size: 20px;
}


.profile-pic{
  width: 350px;
  border-radius: 175px;
  border-color: rgb(255, 26, 95);
  border-width: 2px;
  border-style: solid;
}

.skills-sec{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 60px;
  height: 400px;
  
}

.skills-sub-sec{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(255, 26, 95);
  font-size: 30px;
  font-weight: 500;
  padding-top:70px;

}

.skills-sub-sec1{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right:30px;
  justify-content: center;
  align-items: center;
}


.img-skills{
  width:60px;
  background-color: rgb(255, 26, 95);
  border-radius: 10px;
  box-shadow: 1px 8px 20px rgb(255, 26, 95);
}

.media-pic{
  width:300px;

}

.img-projects{
  padding-right: 1px; 
  padding-top: 25px; 
  padding-left: 25px; 
  padding-bottom: 40px;
  font-size: 25px; 
  margin-right: 120px;
  vertical-align: text-bottom;


}

.para-project{
  text-align: center;
  padding-top: 10px;
  vertical-align: bottom;
  color: white;
  font-size: 21px;
  margin-right: 40px;
  width: 650px;
  
}


.profolio-project{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  vertical-align: text-top;
  padding-left: 35px;
}

.media-project{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 35px;
  padding-top: 80px;

}


.button{
 width: 270px;
 height: 50px;
 font-size: 15px;
 color: white;
 background-color: rgb(255, 26, 95);
 border: none;
 margin-left: 180px;
 cursor: pointer;
}

.button:hover{
  background-color: white;
  transition: 0.3s;
  border:none;
  color: black;
  cursor: pointer;

  
}

.contact-sec{
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 26, 95);
  color:white;
  font-size: 30px;
  justify-content: space-evenly;
  align-items: center;
  height: 65px;
  margin-top: 100px;
}

.contact-subs{
  text-decoration: none;
  padding-right: 8px;
  color: white;
  font-size:25px;
}

.contact-subs:hover{
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.7;
}
